********************************************************************************************************************************************
*                                                                                                                                          *
* DRILL TAPE SUMMARY REPORT                                                                                                                *
*                                                                                                                                          *
* D:\DO NHIET DO VA DO AM\SHT11 - MEGA32A\SCHEMATIC_LAYOUT_SHT11\PCB-SHT11-FULL-SEND\PCB-SHT11-MCU\PCB-SHT11-MCU-LAYOUT\PCB-SHT11-MCU.MAX  *
* Mon May 25 20:20:07 2015                                                                                                                 *
*                                                                                                                                          *
********************************************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      38       200      100                                                                                 
T2       340      95       200      100                                                                                 
T3       669      2        200      100                                                                                 
T4       1180     4        200      100                                                                                 
T5       1260     2        200      100                                                                                 
